In [18]:
import boto3
import pandas as pd
import psycopg2

# s3 = boto3.resource('s3')
# bucket = s3.Bucket('doh-inspection-storage')
# f = bucket.objects.filter()
# latest = [obj.key for obj in sorted(f, key=lambda x: x.last_modified, reverse=True)][0]

# s3 = boto3.client('s3')
# with open('new_file.csv', 'wb') as f:
#     s3.download_fileobj('doh-inspection-storage', latest, f)

df = pd.read_csv('new_file.csv')
df.rename(columns={'record_date':'last_seen'}, inplace=True)
df['violation_code'] = df['violation_code'].apply(lambda x: '' if pd.isna(x) else x)
df['key'] = df['camis'].astype(str) + df['inspection_date'] + df['violation_code']
df['first_seen'] = df['last_seen'].copy()
df.sort_values(['camis','inspection_date'], inplace=True)
df.drop_duplicates(subset='key', inplace=True)
df.reset_index(inplace=True, drop=True)

In [19]:
df.columns

Index(['camis', 'dba', 'boro', 'building', 'street', 'zipcode', 'phone',
       'cuisine_description', 'inspection_date', 'action', 'violation_code',
       'violation_description', 'critical_flag', 'score', 'grade',
       'grade_date', 'last_seen', 'inspection_type', 'latitude', 'longitude',
       'community_board', 'council_district', 'census_tract', 'bin', 'bbl',
       'nta', 'key', 'first_seen'],
      dtype='object')

In [20]:
df

,camis,dba,boro,building,street,zipcode,phone,cuisine_description,inspection_date,action,...,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta,key,first_seen
0,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery,2017-05-18T00:00:00.000,Violations were cited in the following area(s).,...,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37,300754452017-05-18T00:00:00.00010F,2020-04-25T06:03:12.000
1,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery,2017-05-18T00:00:00.000,Violations were cited in the following area(s).,...,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37,300754452017-05-18T00:00:00.00006D,2020-04-25T06:03:12.000
2,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery,2018-05-11T00:00:00.000,Violations were cited in the following area(s).,...,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37,300754452018-05-11T00:00:00.00008C,2020-04-25T06:03:12.000
3,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery,2018-05-11T00:00:00.000,Violations were cited in the following area(s).,...,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37,300754452018-05-11T00:00:00.00010F,2020-04-25T06:03:12.000
4,30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery,2019-05-16T00:00:00.000,Violations were cited in the following area(s).,...,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37,300754452019-05-16T00:00:00.00010F,2020-04-25T06:03:12.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390718,50104653,NaN,Manhattan,182,AUDUBON AVENUE,10033.0,9738706959,Other,1900-01-01T00:00:00.000,NaN,...,40.844101,-73.935730,112.0,10.0,26100.0,1063123.0,1.021300e+09,MN36,501046531900-01-01T00:00:00.000,2020-04-25T06:03:22.000
390719,50104654,HYUN,Manhattan,10,EAST 33 STREET,10016.0,3479643576,Other,1900-01-01T00:00:00.000,NaN,...,40.747500,-73.984438,105.0,4.0,7400.0,1017032.0,1.008620e+09,MN17,501046541900-01-01T00:00:00.000,2020-04-25T06:03:22.000
390720,50104661,HEALTHY WAY ORGANICS & JUICE BAR,Brooklyn,241,ROCKAWAY PARKWAY,11212.0,9178150987,Other,1900-01-01T00:00:00.000,NaN,...,40.661601,-73.920653,317.0,41.0,89200.0,3394557.0,3.046330e+09,BK81,501046611900-01-01T00:00:00.000,2020-04-25T06:03:22.000
390721,50104663,MOONRISE IZAKAYA,Manhattan,774,AMSTERDAM AVENUE,10025.0,39865599,Other,1900-01-01T00:00:00.000,NaN,...,40.795231,-73.969521,107.0,7.0,18300.0,1056382.0,1.018690e+09,MN12,501046631900-01-01T00:00:00.000,2020-04-25T06:03:22.000
390722,50104664,ABE'S CORNER,Brooklyn,674,ROGERS AVENUE,11226.0,9176718390,Other,1900-01-01T00:00:00.000,NaN,...,40.654897,-73.952935,317.0,40.0,82200.0,3116239.0,3.050650e+09,BK60,501046641900-01-01T00:00:00.000,2020-04-25T06:03:22.000

In [198]:
connection = psycopg2.connect(user="postgres",
                              password="makers",
                              host='localhost',
                              port="5432",
                              database="doh")

cursor = connection.cursor()


cursor.execute("SELECT * FROM table_name WHERE key = (%s)", (update_list[0],))
recs = cursors.fetchall()

if recs:
    print('Record Found')
    sql_update_query = """UPDATE table_name SET last_seen = %s WHERE key = %s"""
    cursor.execute(sql_update_query, (df.loc[0,'last_seen'], df.loc[0,'key']))
    connection.commit()
    count = cur.rowcount
    print(count, "Record Updated successfully ")
    
    
elif len(recs) == 0:
    print('No Record Found')
    sql_update_query = """INSERT INTO table_name (`camis`, `dba`, `boro`, `building`, `street`, 
       `zipcode`, `phone`, `cuisine_description`, `inspection_date`, `action`, `violation_code`,
       `violation_description`, `critical_flag`, `score`, `grade`,
       `grade_date`, `last_seen`, `inspection_type`, `latitude`, `longitude`,
       `community_board`, `council_district`, `census_tract`, `bin`, `bbl`,
       `nta`, `key`, `first_seen`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    cursor.execute(sql_update_query, ())
   

else:
    print('other error')

sql_update_query = """Update table_name set last_seen = %s where key = %s"""
cur.execute(sql_update_query, (last_update[0], update_list[0]))
connection.commit()
# count = cur.rowcount
# print(count, "Record Updated successfully ")
# if (connection):
#     cursor.close()
#     connection.close()
#     print("PostgreSQL connection is closed")

[(50074595, 'METSUYAN BLUE', 'Queens', '7208', 'MAIN ST', 11367.0, '7185758700', 'Japanese', '2018-12-13T00:00:00.000', 'Violations were cited in the following area(s).', '15F6', None, None, None, None, None, '2020-04-25T06:03:12.000', 'Smoke-Free Air Act / Re-inspection', 40.726390052169, -73.82169060516401, 408.0, 24.0, 77902.0, 4143394.0, 4066210002.0, 'QN37', '500745952018-12-13T00:00:00.00015F6', '2020-04-17T06:01:20.000')]

In [ ]:
import psycopg2

try:
   connection = psycopg2.connect(user="sysadmin",
                                  password="pynative@#29",
                                  host="127.0.0.1",
                                  port="5432",
                                  database="postgres_db")
   cursor = connection.cursor()
   postgreSQL_select_Query = "select * from mobile"

   cursor.execute(postgreSQL_select_Query)
   print("Selecting rows from mobile table using cursor.fetchall")
   mobile_records = cursor.fetchall() 
   
   print("Print each row and it's columns values")
   for row in mobile_records:
       print("Id = ", row[0], )
       print("Model = ", row[1])
       print("Price  = ", row[2], "\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while fetching data from PostgreSQL", error)

finally:
    #closing database connection.
    if(connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

In [4]:
df

,camis,dba,boro,building,street,zipcode,phone,cuisine_description,inspection_date,action,...,record_date,inspection_type,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta
0,50074595,METSUYAN BLUE,Queens,7208,MAIN ST,11367.0,7185758700,Japanese,2018-12-13T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Smoke-Free Air Act / Re-inspection,40.726390,-73.821691,408.0,24.0,77902.0,4143394.0,4.066210e+09,QN37
1,50071108,EMPANADA MAMA,Manhattan,765,9 AVENUE,10019.0,2126989008,Spanish,2019-08-08T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Cycle Inspection / Initial Inspection,40.764334,-73.988336,104.0,3.0,13300.0,1026722.0,1.010610e+09,MN15
2,40589545,KHYBER PASS,Manhattan,34,ST MARKS PLACE,10003.0,2124730989,Afghan,2017-10-03T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Cycle Inspection / Initial Inspection,40.728765,-73.988104,103.0,2.0,3800.0,1006675.0,1.004630e+09,MN22
3,41386974,FLIP,Manhattan,1000,3 AVENUE,10022.0,2127052991,American,2016-10-20T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Cycle Inspection / Initial Inspection,40.761887,-73.966349,108.0,4.0,11402.0,1041904.0,1.013940e+09,MN40
4,50057064,POCHANA,Queens,3316,30TH AVE,11103.0,7189569559,Thai,2019-05-06T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Cycle Inspection / Initial Inspection,40.766039,-73.919575,401.0,22.0,6300.0,4009035.0,4.006250e+09,QN70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390770,50038206,PICKLER & CO,Manhattan,216,EAST 45 STREET,10017.0,6468699026,American,2018-04-20T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Cycle Inspection / Initial Inspection,40.752428,-73.972457,106.0,4.0,9000.0,1037579.0,1.013180e+09,MN19
390771,50076577,BROOKLYN PIZZA MASTERS,Manhattan,1055,1 AVENUE,10022.0,6466697757,Pizza,2018-10-26T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Cycle Inspection / Initial Inspection,40.758688,-73.962655,106.0,5.0,10800.0,1040014.0,1.013508e+09,MN19
390772,40365784,GARGIULO'S RESTAURANT,Brooklyn,2911,WEST 15 STREET,11224.0,7182664891,Italian,2019-09-09T00:00:00.000,Violations were cited in the following area(s).,...,2020-04-25T06:03:12.000,Cycle Inspection / Re-inspection,40.576555,-73.982584,313.0,47.0,34800.0,3339622.0,3.070640e+09,BK21
390773,50082236,SUBWAY,Queens,18118,HILLSIDE AVE,11432.0,3472233308,Soups & Sandwiches,2018-10-02T00:00:00.000,Establishment Closed by DOHMH. Violations wer...,...,2020-04-25T06:03:12.000,Pre-permit (Operational) / Initial Inspection,40.713206,-73.781448,412.0,27.0,46800.0,4212419.0,4.099170e+09,QN61
390774,41014875,CARNATION BAKERY,Queens,4605,KISSENA BOULEVARD,11355.0,7183218168,Bakery,2017-07-07T00:00:00.000,Establishment Closed by DOHMH. Violations wer...,...,2020-04-25T06:03:12.000,Cycle Inspection / Initial Inspection,40.750515,-73.818998,407.0,20.0,120500.0,4117599.0,4.052080e+09,QN52

In [ ]:
# from configparser import RawConfigParser
# import json
# import psycopg2
# import sys, os
# import numpy as np
# import pandas as pd
# import example_psql as creds
# import pandas.io.sql as psql


# conn_string = "host="+ creds.PGHOST +" port="+ "5432" +" dbname="+ creds.PGDATABASE +" user=" + creds.PGUSER \
# +" password="+ creds.PGPASSWORD
# conn=psycopg2.connect(conn_string)
# print("Connected!")

# # Create a cursor object
# cursor = conn.cursor()

In [27]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:makers@localhost:5432/doh')

df.to_sql('table_name', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE table_name ADD PRIMARY KEY (key);')